:root {
    --black: #000000;
   --white: #FFFFFF; 
   --white-snow: #FFFAFA;
   --gray: #A9A9A9	;
   --gray-gainsboro: #DCDCDC;
   --yellow: yellow;
   --green: green;
   --green-yellow: #ADFF2F;
   --violet-red: #C71585;
   --red: red;
   --w: 1200px;
   --m: 2px 0px;
   --p: 0.5rem 1rem;  
   --fs: 1rem;
   --scale: 1.5;
   --bx-sh: 10px 5px 5px var(--gray-gainsboro);
   --trn: all 0.4s;
   --br-l-petal: 1rem 6.25rem 1rem 6.25rem;
   --br-r-petal:  6.25rem 1rem 6.25rem 1rem;
}


body {
    box-sizing: border-box;
    background: linear-gradient(180deg,#7bd122,#6d2a2a);
    background-size: 400% 400%;
    -webkit-animation: AnimationBody 31s ease infinite;
    -moz-animation: AnimationBody 31s ease infinite;
    animation: AnimationBody 31s ease infinite;   
}



@-webkit-keyframes AnimationBody {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationBody {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationBody {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



button { 
    transition: all 0.4s;
    cursor: pointer;
}

fieldset {
    --w: 600px;
    width: var(--w);
}

legend {
    font-size: calc(1rem + var(--fs) );
}

#to-do {    
    width: var(--w);
}

.list {
 --w: 12.5rem;
 width: var(--w);
}

.container-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.checkbox-item:not(:disabled) {
    cursor: pointer;
}

/* Edit */

.input-edit {
    --w: 100%;     
    width: var(--w);
    margin: var(--m);
    padding: var(--p);
    border: var(--white);
    transition: all .4s;
}

.input-edit.transform { 
    --w: 16rem; 
    --mb: 2rem;
    --trs-x: 1.5rem;
    --trs-y: 1rem;   
    width: var(--w);
    margin-bottom: var(--mb);
    box-shadow: var(--bx-sh);
    transform: translate(var(--trs-x), var(--trs-y)) scale(var(--scale));
}



fieldset:has(:checked ) div:has(input[type=checkbox]:checked) .input-edit   {
    text-decoration: line-through;
    color: var(--violet-red);
}


fieldset:has(:checked ) div:has(input[type=checkbox]:checked) .input-edit:focus {
    text-decoration:none;
}

/*Button*/

.btn {} 

.container-btns {}

.btns {
    --p: 0.5rem;   
    --clr: var(--white);
    --b-r: 0.5rem;   
    padding: var(--p);   
    background: linear-gradient(to bottom right ,var(--red), var(--green));
    border-color: var(--yellow) var(--gray);
    color: var(--clr);
    border-radius: var(--b-r);
}

.btns:hover {   
    background: linear-gradient(270deg, #246655, #fe2424);
    background-size: 400% 400%;
    -webkit-animation: AnimationButton 1s ease-in-out 1;
    -moz-animation: AnimationButton 1s ease-in-out 1;
    animation: AnimationButton 1s ease-in-out 1;
}

@-webkit-keyframes AnimationButton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationButton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationButton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.btn-task {    
    padding: var(--p);
    border-radius: var(--br-l-petal);
    border-color:  #708090 #DCDCDC;
}

.btn-edit {}

.btn-del:hover,
.btn-edit:hover {
     background-color: aliceblue;
     border-radius: var(--br-r-petal);
     border-color:   #2F4F4F #708090;
     color: goldenrod;
    }

.btn-edit.disable {
    border-color: var(--violet-red);   
}

/*Select*/

.select-container {
    margin-left: auto;
}

.select-importance {
    cursor: pointer;
}

fieldset:has(:checked )  div:has(option[value="low"]:checked) .select-importance    {
    --bgc-h: 120deg;
    --bgc-s: 46%;
    --bgc-l: 70%;
    --hsl: hsl(var(--bgc-h) var(--bgc-s) var(--bgc-l));
    background-color:  var(--hsl, --green);
}

fieldset:has(:checked )  div:has(option[value="midlle"]:checked) .select-importance    {
    --bgc-h: 60deg;
    --bgc-s: 66%;
    --bgc-l: 64%;
    --hsl: hsl(var(--bgc-h) var(--bgc-s) var(--bgc-l));
    background-color:  var(--hsl, --yellow);
}

fieldset:has(:checked )  div:has(option[value="high"]:checked) .select-importance    {
    --bgc-h: 0deg;
    --bgc-s: 38%;
    --bgc-l: 80%;
    --hsl: hsl(var(--bgc-h) var(--bgc-s) var(--bgc-l));
    background-color: var(--hsl, --red) ;
}

.select-importance option[value="low"]{
    background-color: var(--green);
}

.select-importance option[value="midlle"]{
    background-color: var(--yellow);
}

.select-importance option[value="high"]{
    background-color: var(--red);
}

/* Modal */

.overlay {
    --w: 100vw;
    --h: 100vh;
    --t: 0rem;
    --b: 0rem;
    --l: 0rem;
    --r: 0rem;
    --bgc: #00000040;
    position: absolute;   
    visibility:hidden;
    top: var(--t) ;
    left: var(--l);
    right: var(--r);
    bottom: var(--b);
    width: var(--w);
    height: var(--h);
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc);
    z-index: 100;
}

.modal {
    --w: 100%;
    --h: 420px;
    --m: 20px;
    position: relative;    
    max-width: var(--w);
    height: var(--h);  
    margin: var(--m);
    background-color: var(--white);
    border-radius:  0.5rem;
    z-index: 110;
   
}

.modal-close {
    --t: -25px;
    --r: -25px;
    position: absolute;
    top: var(--t);
    right: var(--r);
    color: var(--red);
    z-index: 111;
    cursor: pointer;
}

.table-wrapp {
    --h: 406px;
    overflow: hidden;
    overflow-y: auto;
    height: var(--h);
}

.active {   
    display: flex;
    visibility: visible;
}

/* Table */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 20px ;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }

  td.green-bgc {
    background-color: var(--green)
  }
  
  td.yellow-bgc {
    background-color: var(--yellow)
  }

  td.red-bgc {
    background-color: var(--red)
  }

  caption {
    padding: 10px;
  }

  .remove {
  
    transition:  all 2s  ease-in-out ;
    animation-duration: 3s;
    animation-name: remove-item;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
  }

  @keyframes remove-item {
    0% {
        margin-left: 25%;
        opacity: 0.5;
        box-shadow:  var(--bx-sw);
    }
    50% {
        margin-left: -25%;
        opacity: 1;
    }

    100% {
        margin-left: -100%;
        opacity: 0.2;
    }
  }